.title {
  @apply pb-2 text-center uppercase text-sm;
}

.marqueeWrapper {
  @apply overflow-hidden relative w-full whitespace-nowrap;
}

.marqueeTitle {
  @apply text-center text-[#F2983D] uppercase mx-auto flex justify-center font-bold mb-6 text-[40px] leading-[50px] lg:leading-none;
}

.marqueeTrack {
  @apply flex items-center gap-4 lg:gap-10 w-max lg:-mt-20;
  animation: marquee 30s linear infinite;
}

.logo {
  @apply size-32 object-contain;
}

/* Animation keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
