.container {
    @apply w-full flex justify-center;
}

.fastDeliveryOffer {
    @apply flex justify-center items-center gap-[10px] text-xs bg-[#e9fbea] mx-auto rounded-[8px] w-max px-5 text-[#039903];
}

.st0 {
    fill: none;
    stroke: #039903;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
