.animatedBackground {
  @apply w-full;
  background: linear-gradient(270deg, #ff7d48, #ffb478, #ff9966);
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.timerBox {
  @apply bg-white p-1 rounded-sm lg:p-2 flex flex-col justify-center items-center -space-y-1;
}

.timeText {
  @apply font-bold text-sm;
}

.unitText {
  @apply uppercase text-[8px] lg:text-[10px] font-bold;
}
